---
---

h1, h2, h3, #navbar {
  font-family: 'Palanquin', sans-serif;
}

body {
    margin: 0 !important;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  outline: 0;
  color: black;
}

.url:hover {
  color: #28b9af;
}

#nav a {
  color: #28b9af;
}

.selected {
  color: white;
}

/* utility */
.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 99;
  background-color: transparent;
  transition: .3s;
}

.site-logo {
  float:left;
  display: block;
  margin: 0;
  padding: 20px 0 0 20px;
  transition: .3s;
}

.site-logo .svg {
  height: 40px;
  transition: .3s;
}

.svg-link .svg {
  filter: invert(1);
}

html:not(.can-touch) .svg-link:hover .svg,
.svg-link:active .svg {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(130deg);
}

/* Social */

.social {
  display: flex;
  padding: 0 0 0 0;
  transition: .3s;
  justify-content: center;
}

.social ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.social a {
  display: flex;
  padding: 10px;
  transition: .3s;
}

.social li {
  display: inline-block;
}

html:not(.can-touch) #nav a:hover {
  background-color: #28b9af;
  color: white;
}

/* Navbar */

#nav-container {
  display: flex;
  float: right;
  padding-right: 20px;
  transition: .3s;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#nav ul {
  margin: 0;
  padding-left: 0;
}

#nav a {
  display: block;
  font-weight: bold;
  padding: 5px 20px;
  outline: 0;
  transition: .3s;
}

#nav a:active {
  background-color: #28b9af;
  color: white;
}

#nav li {
  display: inline-block;
}

html:not(.can-touch) #nav a:hover {
  background-color: #28b9af;
  color: white;
}

/* nav bar scroll effect*/

#navbar {
    background: rgba(255, 255, 255 0);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

#navbar.scrolled {
  height: 50px;
  background: rgba(0, 0, 0, 0);
  background: white;
  box-shadow: 0 2px 2px #CCCCCC;
}

#navbar.scrolled .selected {
  color: black;
}

#navbar.scrolled .site-logo {
  padding-top: 10px;
}

#navbar.scrolled .site-logo .svg {
  height: 35px;
}

#navbar.scrolled .svg-link .svg {
  filter: invert(0);
}

html:not(.can-touch) #navbar.scrolled .svg-link:hover .svg,
#navbar.scrolled .svg-link:active .svg {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(130deg);
}

/* content */

.content-background {
  background-color: #FCFFFF;
}

.content {
  width: 66%;
  margin: 0 auto;
  padding: 40px;
}

.header {
  display: table;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 100%;
}

.footer {
  background-color: #2e3b3c;
  width: 100%;
  height: 44px;
}

.copyright-container {
  display: block;
  position: absolute;
  left: 15px;
}

.copyright-notice {
  display: inline-block;
  padding-top: 11px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.snap-to-bot {
  background-position: 100% bottom;
}

.blog-title-container {
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  margin-bottom: 10px;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.blog-heading {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 750px;
}

.blog-title {
  font-size: 50px;
}

.blog-summary {
  display: table;
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  max-width: 700px;
}

/* Hamburger menu hidden */

#menu-toggle {
  display: none;
  float: right;
  z-index: 1;
  width: 60px;
  height: 70px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-toggle span {
  display: none;
  position: absolute;
  height: 5px;
  width: 50%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


#navbar.scrolled #menu-toggle {
  height: 50px;
}

#navbar.scrolled #menu-toggle span, #navbar.expanded #menu-toggle span {
  background: black;
}

.post-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-color: black;
  border-radius: 8px;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-card-image {
  width: 100%;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-position: 100% bottom;
  background-size: 100%;
}

.post-card-header {
  padding-top: 20px;
}

.post-card-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}

.post-card-category {
  color: #AAAAAA;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.post-card-tags {
  margin-bottom: 10px;
}

.post-card-tag {
  font-family: 'Open Sans', sans-serif;
  color: #a7a7a7;
}

.post-card-content {
  padding: 40px;
}

.post-card-meta {
  font-family: 'Palanquin', sans-serif;
}

.post-card-author-container {
  width: 100%;
  font-weight: bold;
}

.post-card-avatar {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}

.post-card-author {
  color: #28b9af;
}

.post-card-date {
  color: #AAAAAA;
  font-weight: bold;
}

.post {
  padding: 20px;
}

.post-title {
  text-align: center;
  margin: 0 0 5px;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

.hidden-avatar {
  display: none;
}

.post-meta {
  text-align: center;
  color: #AAAAAA;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 40px;
}

.post-avatar-link {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.post-avatar {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin-right: 5px;
}

.post-author-info {
  display: inline-block;
  height: 100%;
  width: 80%;
  vertical-align: middle;
}

.post-author h3 {
  float: left;
  margin: 0 0 0 20px;
  color: #28b9af;
}

.post-author-bio {
  float: left;
  width: 90%;
  margin: 0 20px 0 20px;
}

hr { 
    background: url('/img/signature.svg') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
}
hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    top: 8px;
}
hr:before {
    left: 0;
    right: 50%;
    margin-right: 18px;
    background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1));
}
hr:after {
    right: 0;
    left: 50%;
    margin-left: 18px;
    background-image: linear-gradient(to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
}

@media screen and (max-width: 1000px) {
  .blog-heading {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .blog-title {
    font-size: 40px;
    margin: 20px 0 0 0;
  }

  .blog-summary {
    max-width: 500px;
  }

  .post-title {
    font-size: 40px;
  }

  .header {
    height: 250px;
  }

  .heading-container {
    width: 100%;
    padding: 50px 100px 0;
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .blog-title {
    font-size: 30px;
    margin: 20px 0 0 0;
  }

  .blog-summary {
    max-width: 400px;
    font-size: 15px;
  }

  .post-title {
    font-size: 30px;
  }

  .header {
    height: 180px;
  }

  .bigger-header {
    height: 250px;
    background-size: 130%;
  }

  .heading-container {
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }

  .post-card-image {
    height: 240px;
  }

  .post-card-content {
    padding: 0 20px 20px 20px;
  }

  .post {
    padding: 0;
  }


  /* Hamburger menu */

  /*
   * Just a quick hamburger
   */

  #menu-toggle span, #menu-toggle {
    display: block;
  }

  /* Icon 3 */

  #menu-toggle span:nth-child(1) {
    top: 23px;
  }

  #menu-toggle span:nth-child(2),#menu-toggle span:nth-child(3) {
    top: 33px;
  }

  #menu-toggle span:nth-child(4) {
    top: 43px;
  }

  #navbar.scrolled #menu-toggle span:nth-child(1) {
    top: 13px;
  }

  #navbar.scrolled #menu-toggle span:nth-child(2),#navbar.scrolled #menu-toggle span:nth-child(3) {
    top: 23px;
  }

  #navbar.scrolled #menu-toggle span:nth-child(4) {
    top: 33px;
  }

  #menu-toggle.open span:nth-child(1) {
    width: 0%;
    left: 50%;
  }

  #menu-toggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #menu-toggle.open span:nth-child(4) {
    width: 0%;
    left: 50%;
  }

  /* Navbar */

  .selected {
    color: black;
  }

  #nav-container {
    display: block;
    box-sizing: border-box;
    position: absolute;
    float: none;
    width: 100%;
    top: -280px;
    z-index: -1;
    background: white;
    padding: 70px 0 25px 0;
    transform: none;
    transition: .3s;
  }

  #nav-container.expanded {
    top: 0;
    display: block;
    box-shadow: 0 2px 2px #CCCCCC;
  }

  #nav {
    width: 100%;
    height: 100%;
  }

  #navbar {
    height: 50px;
  }

  #navbar.scrolled #nav-container.expanded {
    padding-top: 50px;
  }

  #navbar.expanded .svg-link .svg {
    filter: invert(0);
  }

  #nav ul {
    text-align: center;
    margin: 0;
    padding-left: 0;
  }

  #nav li {
    display: block;
    margin: 0 auto;
  }

  
  .footer {
    height: 88px;
  }

  .copyright-container {
    position: relative;
    margin: 0 auto;
    width: 156px;
    left: 0;
  }

  .copyright-notice {
    margin: 0 auto;
    padding-top: 11px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  .footer .social {
    padding-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .blog-heading {
    width: 80%;
  }
  .blog-title {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .blog-summary {
    max-width: 400px;
    font-size: 13px;
  }

  .site-logo {
    margin: 0;
    padding: 20px 0 0 15px;
  }

  #nav a {
    display: block;
    padding: 5px 5px;
    outline: 0;
    transition: background-color ease .1s, position .3s;
  }

  .post-author-container {
    text-align: center;
  }

  .post-avatar-link {
    display: block;
    text-align: center;
  }

  .post-author h3 {
    float: none;
    margin: 15px 0;
  }

  .post-author-bio {
    float: none;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .post-title {
    font-size: 25px;
  }

  .post-card-image {
    height: 190px;
  }
}
@media screen and (max-width: 350px) {
  .post-card-image {
    height: 140px;
  }
}
