<div class="footer">
  <div class="copyright-container">
    <span class="copyright-notice">Topias Vainio &copy 2018</span>
  </div>
  {% include social.html %}
  <div class="h-card" style="display: none;">
    <img class="u-photo" src="http://toxip.net/img/avatar.jpg" alt="" />
    <a class="p-name u-url" href="http://toxip.net">{{ site.author }}</a>
    <a rel="me" class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    <span class="p-locality">{{ site.city }}</span>
    <span class="p-country-name">{{ site.country }}</span>
    <p class="p-note">
      {{ site.bio }}
    </p>
  </div>
</div>
