<div class="footer">
  <div class="copyright-container">
    <span class="copyright-notice">Topias Vainio &copy 2018</span>
  </div>
  {% include social.html %}
  <p class="h-card" style="display: none;">
    <img class="u-photo" src="http://toxip.net/img/avatar.jpg" alt="" />
    <a class="p-name u-url" href="http://toxip.net>Topias Vainio</a>
    <a class="u-email" href="mailto:toxip@toxip.net">toxip@toxip.net</a>, 
    <span class="p-locality">Helsinki</span>
    <span class="p-country-name">Finland</span>
  </p>
</div>
