
  <head>
    {% include favicon.html %}
    {% seo %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  	<link rel="stylesheet" href="/css/main.css">
    <link href="/css/transfonter/stylesheet.css" rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="/js/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/js/site.js"></script>
    <script src="/js/moment.min.js"></script>
    
    {% webmentions_head %}
  </head>
