
<div id="navbar">
  <div class="site-logo-container">
    <h2 class="title">&lt;/Toxip&gt;</h2>
  </div>
  <div id="menu-toggle" onclick=toggleMenu()>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav id="nav" role="navigation">
    <ul id="menu">
      {% for link in site.navigation.links %}
        <li>
          <a href="/{{ link.href }}"
            {% if page.title == link.title %} class="selected" {% endif %}>
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
