
<div id="navbar">
  <a class="site-logo" href="/">
    &lt;/Toxip&gt;
  </a>
  <div id="menu-toggle" onclick=toggleMenu()>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="nav-container">
    <nav id="nav" role="navigation">
      <ul id="menu">
        {% for link in site.navigation.links %}
        <li>
          <a href="/{{ link.href }}"
            {% if page.title == link.title %} class="selected" {% endif %}>
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
