---
layout: toxip
---

<div class="content">
  <div class="post-wrapper">
    <article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">
          <a class="url u-url"href="{{ post.url }}">{{ page.title }}</a>
        </h1>
        {% if page.subtitle %}
        <h2 class="post-subtitle" >{{ page.subtitle }}</h2>
        {% endif %}
        <h2>
        <div class="post-meta">
          <span class="post-category p-category">{% for category in page.categories %}{{ category }} {% endfor %}</span> | <time class="dt-published" itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        </div>
      </header>
      <img class="post-img"
        src="/img/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"
        alt="{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" />
      <div class="post-content inner-block e-content" itemprop="articleBody">
        {{ content }}
        {% if page.img-license %}
        <div class="post-img-license">
          {{ page.img-license | markdownify }}
        </div>
        {% endif %}
      </div>
    </article>
    <div class="inner-block">
      <hr class="toxip-style" />
      <footer>
        <div class="post-tags">
          {% for tag in post.tags %}
          <span class="post-tag">#{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="post-author-container">
          <a class="post-avatar-link" href="{{ site.url }}{{ site.baseurl }}">
            <img class="post-avatar u-photo" src="/img/avatar.jpg"/>
          </a>
          <div class="post-author-info">
            <a class="post-author p-author h-card" itemprop="author"
            itemscope itemtype="https://schema.org/Person" 
              itemscope itemtype="https://schema.org/Person" 
            itemscope itemtype="https://schema.org/Person" 
            href="{{ site.url }}{{ site.baseurl }}">
              <img class="hidden-avatar u-photo" src="/img/avatar.jpg"/>
              <h3>{{ site.author }}</h3>
            </a>
            <p class="post-author-bio p-note">{{ site.bio }}</p>
          </div>
        </div>
      </footer>

      {% assign count = 0 %}
      {% if site.data.comments[page.slug] %}
        {% assign comments = site.data.comments[page.slug] | sort %}
      
        {% for comment in comments %}
          {% assign count = count | plus: 1 %}
        {% endfor %}
    
        {% if count > 0 %}
          <h2 class="comment-section-header">{{ count }} comments</h2>
        {% endif %}

        {% for comment in comments %}
          {% assign email = comment[1].email %}
          {% assign name = comment[1].name %}
          {% assign date = comment[1].date %}
          {% assign content = comment[1].content %}
          {% include comment.html index=forloop.index email=email name=name date=date content=content %}
          {% assign count = count | plus: 1 %}
        {% endfor %}

      {% endif %}

      {% webmentions %}

      {% include form.html %}
    </div>
  </div>
</div>
{% webmentions js %}